.general-section-component {
    .config-group-title {
        margin-bottom: 0;
    }

    .config-group {
        background-color: transparent;

        .dev-cost-rate-item {
            border-radius: 10px 10px 0 0;
        }

        .manual-sync-item {
            border-radius: 0 0 10px 10px;
        }

        .sync-button {
            margin-right: 0;
        }

        ion-icon {
            font-size: 16px;
        }
    }
}