.compare-details-page {
    .main-grid {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .tabs-container {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
}