h1, h2, h3, h4, h5, h6, p {
    color: var(--ion-color-secondary);
}

p {
    font-size: 16px;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 24px;
}

ion-title, ion-card-title {
    --color: var(--ion-color-secondary);
}

body {
    background-color: var(--ion-color-light);
}

.color-primary {
    color: var(--ion-color-primary);
}

.color-secondary {
    color: var(--ion-color-secondary);
}

.opacity-5 {
    opacity: 0.5;
}

.opacity-7 {
    opacity: 0.7;
}

.thin-text {
    font-weight: 100;
}

ion-item {
    &.conectima-input {
        border: 1px solid var(--ion-color-primary);
        border-radius: 10px;
        height: 40px;

        ion-input {
            --padding-top: 0;
            --padding-bottom: 5px;

            font-size: 14px;
        }
    }

    &.conectima-stacked-input {
        --padding-start: 0;
        --padding-end: 0;
        --inner-padding-start: 0;
        --inner-padding-end: 0;

        ion-label.input-title {
            font-size: 16px;
            margin-bottom: 8px;
            color: var(--ion-color-secondary);
        }

        ion-input.input-field {
            --padding-start: 8px;

            font-size: 14px;
            color: var(--ion-color-secondary);
            background-color: var(--color-white);
            border: 1px solid var(--ion-color-primary);
            border-radius: 10px;
        }
    }

    &.conectima-selectable-item {
        --padding-start: 0;
        --padding-end: 0;
        --inner-padding-start: 0;
        --inner-padding-end: 0;

        ion-label.select-title {
            margin-bottom: 8px;
            color: var(--ion-color-secondary);
        }

        ion-select.select-list {
            font-size: 14px;
            color: var(--ion-color-secondary);
            padding-left: 8px;
            border: 1px solid var(--ion-color-primary);
            border-radius: 10px;
        }
    }
}

ion-toolbar {
    --border-style: none;

    ion-title {
        font-weight: 400;
    }
}

ion-loading.conectima-loading {
    --background: none;
    --spinner-color: var(--ion-color-primary);
    --backdrop-opacity: 0.7;
}

.alert-head {
    .alert-title {
        font-weight: 400;
        color: var(--ion-color-secondary);
    }
}

.alert-button.sc-ion-alert-ios:last-child {
    font-weight: 400;
}

.picker-toolbar-button.sc-ion-picker-ios:last-child .picker-button.sc-ion-picker-ios {
    font-weight: 400;
}
