/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400 500;
    src: url("fonts/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: url("fonts/Proxima Nova Bold.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 100;
    src: url("fonts/Proxima Nova Thin.otf") format("opentype");
}

/** Ionic CSS Variables **/
:root {
    --ion-color-primary: #f26f6b;
    --ion-color-primary-rgb: 242, 111, 107;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #d5625e;
    --ion-color-primary-tint: #f37d7a;

    --ion-color-secondary: #273342;
    --ion-color-secondary-rgb: 39, 51, 66;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #222d3a;
    --ion-color-secondary-tint: #3d4755;

    --ion-color-tertiary: #fde8e8;
    --ion-color-tertiary-rgb: 253, 232, 232;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #dfcccc;
    --ion-color-tertiary-tint: #fdeaea;

    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    --ion-color-dark: #273342;
    --ion-color-dark-rgb: 39, 51, 66;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #222d3a;
    --ion-color-dark-tint: #3d4755;

    --ion-color-medium: #dfe5ec;
    --ion-color-medium-rgb: 223, 229, 236;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #c4cad0;
    --ion-color-medium-tint: #e2e8ee;

    --ion-color-light: #f6f7f9;
    --ion-color-light-rgb: 246, 247, 249;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d8d9db;
    --ion-color-light-tint: #f7f8fa;

    // Colors
    --color-white: #ffffff;
    --green-1: #219653;

    // Font
    --ion-font-family: "Proxima Nova";
}
