.general-compare-component {
    .project-name-container {
        padding-bottom: 0;

        .project-name {
            margin-bottom: 0;
        }
    }

    .sprints-legend-container {
        padding-top: 0;

        .sprints-legend {
            margin-top: 4px;
            margin-bottom: 0;
        }
    }
}