.velocity-chart-tab-component {
    .chart-container {
        height: 420px;
        width: 100%;
        background-color: var(--color-white);
        border-radius: 5px;
        padding-left: 0;
        padding-right: 0;
    }
}