.link-spreadsheet-component {
    margin: 32px 0 0;

    .card-title {
        margin-bottom: 0;
    }

    .card-subtitle {
        margin-top: 0;
    }

    .video-player-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .sheet-id-input-container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .copy-mail-btn {
        font-size: 16px;
        font-weight: 200;

        ion-icon {
            opacity: 0.5;
        }
    }
}