.loading-project-creation-component {
    .google-icon {
        opacity: 0.2;
        color: var(--ion-color-secondary);
        font-size: 42px;
        margin-bottom: 6px;
    }

    .loading-spinner-container {
        margin-top: 20%;
    }

    .css-104ku6c {
        display: block;
        margin: 0 auto;
    }
}